@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(109, 148, 255);
}

.calendar-container {
    margin: 0 1rem;
    text-align: center;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    background-color: 
    #fff;
    
}

.month-name {
    background-color: rgb(255, 79, 79);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 2.5rem;
    font-weight: 600;
    padding:.5rem;
    color: #fff;
}

.day-name {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    margin-top: 2rem;
}

.day-number {
    font-size: 10rem;
    padding: 1rem;
    font-weight: 700;
}

.year {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.fa-sun {
    position: relative;
    float:right;
    top: -45px;
    left: -10px;
    font-size: 1.5rem;
    color: #fff;
    transition: .3s ease-in-out;
}

.fa-sun:hover {
color:  black;
cursor: pointer;

}

.fa-sun:active {
    color: rgba(0, 0, 0, 0.3);
}

.dark {
    background-color: black !important;
}

